body {
  background-color: #E5CB90;
 }

.App-header {
  background-color: #DBB561;
  text-align: center;
}

.header-image {
  width: 200px;
}

// $primary: #DBB561;
$primary: #5DAB7C;

@import "~bootstrap/scss/bootstrap";
